<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element type="boolean">
            <name>http2Push</name>
            <label>Enable HTTP/2 Push support</label>
            <label lang="de">HTTP/2 Push aktivieren</label>
            <value>1</value>
            <description lang="en">Allow webservers and browsers to preload various resources. Available in server versions since Apache 2.4.17 and NGINX 1.13.9</description>
            <description lang="de">Webservern und Browser erlauben, verschiedene Inhalte vorab zu laden. Unterstützt seid Apache 2.4.17 und NGINX 1.13.9</description>
        </element>
        <element type="boolean">
            <name>minifyHtml</name>
            <label>Enable Minify Html</label>
            <label lang="de">Html Minifizieren aktivieren</label>
            <value>1</value>
        </element>
        <element type="boolean">
            <name>removeShopwareRevisionFromFont</name>
            <label>Remove shopware revision from font path</label>
            <label lang="de">Shopware Revision aus der Font entfernen</label>
            <value>1</value>
        </element>
        <element type="boolean">
            <name>NoAjaxEmotionLoading</name>
            <label>Deactivate Ajax for Emotions</label>
            <label lang="de">Deaktiviere Nachladen der Einkaufswelten per Ajax</label>
            <value>0</value>
        </element>
    </elements>
</config>
